@font-face{
    font-family: 'boxicons';
    font-weight: normal;
    font-style: normal;

    src: url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.eot');
    src: url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.eot') format('embedded-opentype'),
    url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.woff2') format('woff2'),
    url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.woff') format('woff'),
    url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.ttf') format('truetype'),
    url('https://unpkg.com/boxicons@2.0.7/fonts/boxicons.svg?#boxicons') format('svg');
}

:root {
  --color-90-light: #232526;
  --color-50-light: #797979;
  --color-10-light: #e5e5e5;
  --color-3-light: #f4f4f4;
  --color-0-light: #fff;

  --color-90-dark: rgba(255, 255, 255, 0.7);
  --color-50-dark: rgba(235, 235, 245, 0.6);
  --color-10-dark: rgba(235, 235, 245, 0.3);
  --color-3-dark: #363636;
  --color-0-dark: #1e1e1e;

  --color-accent-light: #007AFF;
  --color-accent-dark: #0A84FF;

  --shade-plus-darker-light: rgba(0, 0, 0, 0.05);
  --shade-plus-lighter-light: rgba(245, 245, 245, 0.15);

  --shade-plus-darker-dark: rgba(255, 255, 255, 0.15);

  --color-selection-light: #f2f2f2fe;

  --color-selection-dark: #363636fe;

  --color-red-light: #fd7070;
  --color-orange-light: #ffaf52;
  --color-yellow-light: #ffd23f;
  --color-green-light: #1bd5c0;
  --color-blue-light: #47c9fe;
  --color-purple-light: #9a6bff;

  --color-red-faint-light: #fd707066;
  --color-orange-faint-light: #ffaf5266;
  --color-yellow-faint-light: #ffd23f66;
  --color-green-faint-light: #1bd5c066;
  --color-blue-faint-light: #47c9fe66;
  --color-purple-faint-light: #9a6bff66;

  --color-red-faint-dark: #fd707022;
  --color-orange-faint-dark: #ffaf5222;
  --color-yellow-faint-dark: #ffd23f22;
  --color-green-faint-dark: #1bd5c022;
  --color-blue-faint-dark: #47c9fe22;
  --color-purple-faint-dark: #9a6bff22;

  --text-font: Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  --text-line-height: 1.5;

  --text-medium-font-size: 18px;
  --text-medium-line-height: 34px;

  --text-large-font-size: 20px;
  --text-large-line-height: 38px;
  
  --text-font-weight: 400;

  --ui-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  --icon-font: "boxicons";

  --left-nav-width: 0px;
  --app-header-height: 52px;
}

/* Font */
html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
.Pane-headerText,
.search-tip-header,
.view-filter-option-title,
.is-desktop .setting-section-title {
  font-family: var(--ui-font) !important;
}

.u-use-pref-font {
  font-family: var(--text-font);
  font-weight: var(--text-font-weight);
  font-feature-settings: "ss01", "cv05", "cv07";
}

.is-mediumFont .Node-contentContainer {
  font-size: var(--text-medium-font-size);
  line-height: var(--text-medium-line-height) !important;
}

.is-mediumFont .node-line {
  line-height: var(--text-medium-line-height) !important;
}

.is-largeFont .Node-contentContainer {
  font-size: var(--text-large-font-size);
  line-height: var(--text-large-line-height) !important;
}

.is-largeFont .node-line {
  line-height: var(--text-large-line-height) !important;
}

/* Theme ------------------------- */
@media (prefers-color-scheme: light) {
  ::selection, .Node.is-selected {
    background: var(--color-selection-light);
  }

  html,
  body {
    background-color: var(--color-0-light);
    color: var(--color-90-light);
  }

  .AppHeader {
    background: var(--color-0-light);
    border-bottom: none;
  }

  .is-desktop .AppHeader-desktopControls {
    border-bottom: 1px solid var(--shade-plus-darker-light);
  }

  .AppHeader-desktopControls .AppHeader-icon, .is-desktop .Pane-headerToolbarItem {
    color: var(--color-50-light);
  }

  .AppHeader-desktopControls .AppHeader-icon:hover, .is-desktop .Pane-headerToolbarItem:hover {
    color: var(--color-50-light);
    background-color: var(--shade-plus-darker-light);
  }

  .AppHeader-syncStatus {
    color: var(--color-50-light);
  }

  .is-desktop .LeftPaneSplitter:after {
    border-right: 1px solid var(--shade-plus-darker-light);
  }

  .is-desktop .LeftPaneSlidebarContainer {
    border-right: none;
  }

  .is-desktop .LeftPaneContainer,
  .is-desktop .Pane,
  .AppContainer,
  .DocumentTools-overlay {
    background-color: var(--color-0-light);
  }

  .DocumentTools-icon {
    color: var(--color-50-light);
  }

  .DocumentSearch-icon:hover,
  .DocumentTools-filterView:hover {
    background-color: var(--shade-plus-darker-light);
  }

  .status-bar {
    color: var(--color-50-light);
    background-color: var(--color-3-light);
  }

  .DocumentBreadcrumb {
    color: var(--color-50-light);
  }

  .DocumentBreadcrumb-delimiter:after {
    color: var(--color-10-light);
  }

  .node-icon {
    color: var(--color-50-light);
  }

  .Node-bullet:before {
    color: var(--color-50-light);
  }

  .node-menu-icons-container, .is-hovering .node-hover {
    background-color: var(--color-0-light);
  }

  .Node.is-checked .Node-content, .Node.is-checked .Node-renderedContent, .Node.is-checked .Node-note, .Node.is-checked .Node-renderedNote {
    color: var(--color-50-light);
  }

  .Node-children {
    border-left: 1px solid var(--shade-plus-darker-light);
  }

  .is-desktop .LeftPaneContainer-nav {
    background: var(--color-0-light);
  }

  .is-desktop .LeftPaneContainer-navItem {
    background: var(--color-0-light);
    color: var(--color-50-light);
  }

  .is-desktop .LeftPaneContainer-navItem.is-active,
  .is-desktop .LeftPaneContainer-navItem:hover {
    background: var(--shade-plus-darker-light);
  }

  .is-desktop .Pane-header, .is-desktop .popup-message-banner {
    color: var(--color-50-light);
    background: var(--color-0-light);
  }

  .pane-item-header {
    color: var(--color-90-light);
  }

  .pane-item.DocumentItem.is-open > .pane-item-header {
    background-color: var(--shade-plus-darker-light);
  }

  .pane-item-icon, .pane-item-toggler {
    color: var(--color-50-light);
  }

  .pane-item:not(.is-open) > .pane-item-header.hover,
  .pane-item:not(.is-open) > .pane-item-header.highlighted,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover {
    color: var(--color-0-light);
    background: var(--color-50-light);
  }

  .pane-item:not(.is-open) > .pane-item-header.hover .pane-item-icon, 
  .pane-item:not(.is-open) > .pane-item-header.hover .pane-item-toggler,
  .pane-item:not(.is-open) > .pane-item-header.highlighted .pane-item-icon,
  .pane-item:not(.is-open) > .pane-item-header.highlighted .pane-item-toggler,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-icon,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-toggler,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-small-text {
    color: var(--color-0-light);
  }

  .pane-item-small-text {
    color: var(--color-50-light);
  }

  .CurrentLineHighlight {
    background: rgba(0, 0, 0, 0.02);
  }

  .node-tag {
    color: var(--color-0-light);
    background-color: var(--color-50-light);
  }

  .Node.is-currentRoot > .Node-self, .Node-self.is-heading {
    color: var(--color-90-light);
  }

  .set-color-label[data-color="1"],
  .Node-contentContainer.mod-color-label-1 {
    background-color: var(--color-red-faint-light);
  }

  .set-color-label[data-color="2"],
  .Node-contentContainer.mod-color-label-2 {
    background-color: var(--color-orange-faint-light);
  }

  .set-color-label[data-color="3"],
  .Node-contentContainer.mod-color-label-3 {
    background-color: var(--color-yellow-faint-light);
  }

  .set-color-label[data-color="4"],
  .Node-contentContainer.mod-color-label-4 {
    background-color: var(--color-green-faint-light);
  }

  .set-color-label[data-color="5"],
  .Node-contentContainer.mod-color-label-5 {
    background-color: var(--color-blue-faint-light);
  }

  .set-color-label[data-color="6"],
  .Node-contentContainer.mod-color-label-6 {
    background-color: var(--color-purple-faint-light);
  }
}

@media (prefers-color-scheme: dark) {
  ::selection, .Node.is-selected {
    background: var(--color-selection-dark);
  }

  html,
  body {
    background-color: var(--color-0-dark);
    color: var(--color-90-dark);
  }

  .AppHeader {
    background: var(--color-3-dark);
    border-bottom: none;
  }

  .is-desktop .AppHeader-desktopControls {
    border-bottom: 1px solid #000;
  }

  .AppHeader-desktopControls .AppHeader-icon, .is-desktop .Pane-headerToolbarItem {
    color: var(--color-50-dark);
  }

  .AppHeader-desktopControls .AppHeader-icon:hover, .is-desktop .Pane-headerToolbarItem:hover {
    color: var(--color-50-dark);
    background-color: var(--shade-plus-darker-dark);
  }

  .AppHeader-syncStatus {
    color: var(--color-50-dark);
  }

  .is-desktop .LeftPaneSplitter:after {
    border-right: 1px solid var(--shade-plus-darker-dark);
  }

  .is-desktop .LeftPaneSlidebarContainer {
    border-right: none;
  }

  .is-desktop .LeftPaneContainer,
  .is-desktop .Pane,
  .AppContainer,
  .DocumentTools-overlay {
    background-color: var(--color-0-dark);
  }

  .DocumentTools-icon {
    color: var(--color-50-dark);
  }

  .DocumentSearch-icon:hover,
  .DocumentTools-filterView:hover {
    background-color: var(--shade-plus-darker-dark);
  }

  .status-bar {
    color: var(--color-50-dark);
    background-color: var(--color-3-dark);
  }

  .DocumentBreadcrumb {
    color: var(--color-50-dark);
  }

  .DocumentBreadcrumb-delimiter:after {
    color: var(--color-10-dark);
  }

  .node-icon {
    color: var(--color-50-dark);
  }

  .Node-bullet:before {
    color: var(--color-50-dark);
  }

  .node-menu-icons-container, .is-hovering .node-hover {
    background-color: var(--color-0-dark);
  }

  .Node.is-checked .Node-content, .Node.is-checked .Node-renderedContent, .Node.is-checked .Node-note, .Node.is-checked .Node-renderedNote {
    color: var(--color-50-dark);
  }

  .Node-children {
    border-left: 1px solid var(--shade-plus-darker-dark);
  }

  .is-desktop .LeftPaneContainer-nav {
    background: var(--color-3-dark);
  }

  .is-desktop .LeftPaneContainer-navItem {
    background: var(--color-3-dark);
    color: var(--color-50-dark);
  }

  .is-desktop .LeftPaneContainer-navItem.is-active,
  .is-desktop .LeftPaneContainer-navItem:hover {
    background: var(--shade-plus-darker-dark);
  }

  .is-desktop .Pane-header, .is-desktop .popup-message-banner {
    color: var(--color-90-dark);
    background: var(--color-0-dark);
  }
  
  .pane-item-header {
    color: var(--color-90-dark);
  }

  .pane-item.DocumentItem.is-open > .pane-item-header {
    background-color: var(--shade-plus-darker-dark);
  }

  .pane-item-icon, .pane-item-toggler {
    color: var(--color-50-dark);
  }

  .pane-item:not(.is-open) > .pane-item-header.hover,
  .pane-item:not(.is-open) > .pane-item-header.highlighted,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover {
    color: var(--color-0-dark);
    background: var(--color-50-dark);
  }

  .pane-item:not(.is-open) > .pane-item-header.hover .pane-item-icon, 
  .pane-item:not(.is-open) > .pane-item-header.hover .pane-item-toggler,
  .pane-item:not(.is-open) > .pane-item-header.highlighted .pane-item-icon,
  .pane-item:not(.is-open) > .pane-item-header.highlighted .pane-item-toggler,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-icon,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-toggler,
  .TagPane-tags .pane-item:not(.is-open) > .pane-item-header:hover .pane-item-small-text {
    color: var(--color-0-dark);
  }

  .pane-item-small-text {
    color: var(--color-50-dark);
  }

  .CurrentLineHighlight {
    background: rgba(255, 255, 255, 0.02);
  }

  .node-tag {
    color: var(--color-0-dark);
    background-color: var(--color-50-dark);
  }

  .Node.is-currentRoot > .Node-self, .Node-self.is-heading {
    color: var(--color-90-dark);
  }

  .set-color-label[data-color="1"],
  .Node-contentContainer.mod-color-label-1 {
    background-color: var(--color-red-faint-dark);
  }

  .set-color-label[data-color="2"],
  .Node-contentContainer.mod-color-label-2 {
    background-color: var(--color-orange-faint-dark);
  }

  .set-color-label[data-color="3"],
  .Node-contentContainer.mod-color-label-3 {
    background-color: var(--color-yellow-faint-dark);
  }

  .set-color-label[data-color="4"],
  .Node-contentContainer.mod-color-label-4 {
    background-color: var(--color-green-faint-dark);
  }

  .set-color-label[data-color="5"],
  .Node-contentContainer.mod-color-label-5 {
    background-color: var(--color-blue-faint-dark);
  }

  .set-color-label[data-color="6"],
  .Node-contentContainer.mod-color-label-6 {
    background-color: var(--color-purple-faint-dark);
  }
}

/* UI ------------------------- */

::-webkit-scrollbar {
  background-color: rgb(0, 0, 0, 0);
}

/* - Main container */
.is-desktop .main-container {
  height: calc(100% - var(--app-header-height));
}

.is-desktop .DocumentContainer {
  height: 100% !important;
  overflow-y: auto;
}

.normal-view {
  flex-grow: 1;
  top: 0;
}

.status-bar {
  opacity: 0;
  border-top: none;
  justify-content: flex-end;
  flex-grow: 0;
  font-size: 11px;
  padding: 8px 19px;
  max-height: unset;
  z-index: 100;
  line-height: 1;
  transition: 200ms opacity ease-in-out;
}

.status-bar:hover {
  opacity: 1;
}

/* - AppHeader */
.AppHeader {
  box-shadow: none;
}

.is-desktop .AppHeader {
  height: var(--app-header-height);
  -webkit-app-region: drag;
}

.is-desktop .AppHeader-desktopControls {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 21px;
}

.AppHeader-mainMenu,
.AppHeader-settings,
.AppHeader-notifications,
.LeftPaneContainer-navItem {
  font-size: 16px;
  -webkit-app-region: no-drag;
}

.AppHeader-desktopControls .AppHeader-icon,
.AppHeader-desktopControls .AppHeader-syncStatus {
  display: block;
  position: unset;
  padding: 4px 6px;
  margin: 0 5px 0 0;
}

.AppHeader-desktopControls .AppHeader-icon {
  font-size: 18px;
  border: none;
  box-shadow: none;
  border-radius: 6px;
}

.AppHeader-desktopControls .AppHeader-icon:hover {
  border: none;
  box-shadow: none;
}

.AppHeader-desktopControls .AppHeader-syncStatus {
  margin-right: 17px;
}

.header-sync-state {
  padding: 0 !important;
  font-size: 14px;
}

.header-sync-state.mod-synced {
  display: none !important;
}

.header-sync-state.mod-sync-now {
  text-decoration: none;
}

.header-sync-state.mod-syncing {
  top: 0;
}

/* - LeftPane */
.is-desktop .LeftPaneSlidebarContainer.is-closed {
  width: var(--left-nav-width) !important;
}

.is-desktop .LeftPaneContainer-nav {
  display: flex;
  flex-direction: row;
  padding: 1px 0 0;
  box-shadow: none;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: var(--app-header-height) !important;
  z-index: 102;
  top: 0;
  left: 95px;
  transform: translate3d(0px, calc(-100% - 1px), 0);
}

.is-desktop .LeftPaneContainer-navItem {
  font-size: 18px;
  line-height: 1;
  display: block;
  padding: 4px 6px;
  float: none;
  margin: 0 5px 0 0;
  width: auto;
  border-radius: 6px;
}

.is-desktop .LeftPaneContainer-navItem:after {
  font-size: 18px;
  display: block;
  top: 0;
}

.is-desktop .LeftPaneContainer-panes {
  width: calc(100% - var(--left-nav-width));
}

.is-desktop .LeftPaneSlidebarContainer {
  box-shadow: none;
}

.Pane-header {
  text-transform: capitalize;
  position: relative;
  height: auto;
  text-align: left;
  padding: 7px 10px 7px 21px;
  display: flex;
  align-items: center;
}

.Pane-headerText {
  flex-grow: 1;
  line-height: 1;
  font-weight: 700;
  font-size: 12px;
}

.Pane-headerToolbar {
  position: static;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  line-height: 1;
  height: auto;
}

.Pane-headerToolbarItem {
  cursor: pointer;
  position: static;
  width: auto;
  height: auto;
  display: block;
  padding: 4px 6px;
  border-radius: 6px;
  line-height: 1;
  font-size: 16px;
}

.Pane-headerToolbarItem:before {
  line-height: 1;
  font-size: unset;
  display: block;
}

.pane-item {
  padding: 0 10px;
}

.pane-item .pane-item {
  padding: 0;
}

.pane-item-header {
  font-size: 13px;
  padding: 6px 9px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  line-height: 1;
  transition: none;
}

.pane-item-icon {
  font-size: unset;
  flex-shrink: 0;
  padding: 0 4px 0 0;
  vertical-align: unset;
}

.tag-pane-item-icon {
  position: static;
}

.pane-item-title {
  text-overflow: ellipsis;
  flex-grow: 1;
  font-weight: 500;
  overflow: hidden;
}

.is-open .pane-item-title {
  font-weight: 500 !important;
}

.pane-item-toggler {
  display: none;
  margin-left: 0;
}

.pane-item-children {
  transition: none !important;
}

.Pane-content.u-use-pref-font {
  font-family: var(--ui-font);
  font-feature-settings: unset;
}

/* - Breadcrumb */
.is-desktop .DocumentBreadcrumb {
  padding: 40px 60px 0;
  font-size: 14px;
}

.DocumentBreadcrumb-delimiter:after {
  font-size: 20px;
  position: absolute;
  visibility: visible;
  left: 50%;
  top: -1px;
  transform: translate3d(-50%, 0, 0);
}

.DocumentBreadcrumb-delimiter {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
  position: relative;
  visibility: hidden;
}

.DocumentBreadcrumb-delimiter:last-child {
  display: none;
}

/* - DocumentTools */
.is-desktop .DocumentTools {
  display: block;
  right: 0;
}

.is-desktop .DocumentTools-overlay {
  display: none;
}

.is-desktop .DocumentTools-icon {
  position: static;
  width: auto;
  height: auto;
}

.is-desktop .DocumentSearch-icon,
.is-desktop .DocumentTools-filterView {
  padding: 4px 6px;
  font-size: 18px;
  line-height: 1;
  top: 0;
  border-radius: 6px;
}

/* - Node */
.Node-contentContainer.has-color {
  border-radius: 6px;
  margin-top: -2px;
  padding: 2px 8px;
}

.node-menu-icons-container {
  font-size: 18px;
  vertical-align: unset;
  position: relative;
}

.Node-self {
  position: relative;
}

.Node-self:hover .node-menu-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Node-self.is-parent.is-numbered .node-icon.mod-expand-collapse {
  display: block;
  line-height: 1 !important;
  padding: 4px 6px !important;
}

.node-hover {
  padding: 10px 0 !important;
  margin-left: 0;
  position: absolute;
  top: -1px;
  transform: translate3d(-100%, 0, 0);
}

.Node.is-currentRoot > .Node-self > .node-hover {
  top: 1px;
  margin-left: 0;
  transform: translate3d(-100%, 0, 0);
}

.node-icon {
  border-radius: 6px;
  padding: 4px 6px;
  min-height: 0 !important;
  font-size: 18px !important;
  vertical-align: unset;
  cursor: pointer;
}

.node-icon.mod-menu,
.node-icon.mod-zoom,
.node-icon.mod-bookmark {
  line-height: 1 !important;
}

.node-line-strict {
  padding-top: 0;
  line-height: unset !important;
  height: auto !important;
  min-height: unset !important;
}

.node-tag {
  transform: translate3d(0, -8%, 0);
  font-size: 75%;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  padding: 4px 8px;
  border-radius: 20px;
}

/* Icons */

.AppHeader-mainMenu:before,
.AppHeader-settings:before,
.AppHeader-notifications:before,
.DocumentSearch-icon:before,
.DocumentTools-filterView:before,
.node-icon.mod-menu:before,
.node-icon.mod-zoom:before,
.node-icon.mod-bookmark:before,
.Pane-headerToolbarItem--bookmarkCurrent:before,
.is-desktop .LeftPaneContainer-navItem--myFiles:after,
.is-desktop .LeftPaneContainer-navItem--bookmarks:after,
.is-desktop .LeftPaneContainer-navItem--tags:after,
.DocumentBreadcrumb-delimiter:after,
.is-desktop .Node-self.is-parent.is-collapsed.is-numbered .node-icon.mod-expand-collapse:before,
.is-desktop .Node-self.is-parent.is-numbered .node-icon.mod-expand-collapse:before,
.Pane-headerToolbarItem--newFile:before,
.Pane-headerToolbarItem.mod-file-finder:before,
.Pane-headerToolbarItem.mod-inbox-capture:before,
.Pane-headerToolbarItem--collapse:before,
.Pane-headerToolbarItem.mod-tag-sort:before,
.DocumentItem-icon:before,
.FolderItem-icon:before,
.pane-item-toggler,
.BookmarkItem-icon:before,
.tag-pane-item-icon:before {
  font-family: var(--icon-font) !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}

.AppHeader-mainMenu:before {
  content: "\eac1";
}

.AppHeader-settings:before {
  content: "\e9d0";
}

.AppHeader-notifications:before {
  content: "\e935";
}

.DocumentSearch-icon:before {
  content: "\eb54";
}

.DocumentTools-filterView:before {
  content: "\eb73";
}

.node-icon.mod-menu:before {
  content: "\ea14";
}

.node-icon.mod-zoom:before {
  content: "\ebec";
}

.BookmarkItem-icon:before,
.node-icon.mod-bookmark:before,
.Pane-headerToolbarItem--bookmarkCurrent:before {
  font-size: unset;
  content: "\e94a";
}

.node-icon.mod-bookmark:hover:before,
.Pane-headerToolbarItem--bookmarkCurrent:hover:before {
  content: "\e950";
}

.node-icon.mod-bookmark.is-alreadyBookmarked:before,
.Pane-headerToolbarItem--bookmarkCurrent.is-alreadyBookmarked:before {
  content: "\ec31";
}

.node-icon.mod-bookmark.is-alreadyBookmarked:hover:before,
.Pane-headerToolbarItem--bookmarkCurrent.is-alreadyBookmarked:hover:before  {
  content: "\ec36";
}

.is-desktop .LeftPaneContainer-navItem--myFiles:after {
  content: "\ea41";
}

.is-desktop .LeftPaneContainer-navItem--bookmarks:after {
  content: "\e951";
}

.is-desktop .LeftPaneContainer-navItem--tags:after {
  content: "\ea67";
}

.DocumentBreadcrumb-delimiter:after {
  content: "\e9b2";
}

.is-desktop .Node-self.is-parent.is-collapsed.is-numbered .node-icon.mod-expand-collapse:before {
  content: "\e9b2";
}

.is-desktop .Node-self.is-parent.is-numbered .node-icon.mod-expand-collapse:before {
  content: "\e9ac";
}

.Pane-headerToolbarItem--newFile:before {
  content: "\eb21";
}

.Pane-headerToolbarItem.mod-file-finder:before {
  content: "\eb54";
}

.Pane-headerToolbarItem.mod-inbox-capture:before {
  content: "\ed48";
}

.Pane-headerToolbarItem--collapse:before {
  font-size: unset;
  content: "\e91d";
}

.Pane-headerToolbarItem.mod-tag-sort:before {
  content: "\eb7a";
}

.Pane-headerToolbarItem.mod-tag-sort.is-sorted-by-occurrence:before {
  content: "\eb79";
}

.DocumentItem-icon:before {
  content: "\ea38";
}

.FolderItem-icon:before,
.tag-pane-item-icon:before {
  content: "\e9ac";
}

.pane-item-header.is-collapsed > .FolderItem-icon:before, 
.pane-item-header.is-collapsed > .tag-pane-item-icon:before {
  content: "\e9b2";
}

.pane-item-toggler:before {
  content: "";
}

.pane-item-header.is-collapsed > .pane-item-toggler:before {
  content: "";
}